<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <!-- ### Fix issue where edit view shows HTML as TEXT -->
        <h4>Editing Task: <%= @task.title.html_safe %></h4>
      </div>

      <div class='panel-body'><h1></h1>

        <%= render 'form' %>

        <%= link_to 'Back', tasks_path %>
      </div>
    </div>
  </div>
</div>